@import "tailwindcss";

@theme {
  --color-brand: #39b54a;
  --color-github: #181717;

  --font-sans: Poppins;
}

::-webkit-scrollbar {
  @apply h-2 w-2;
}
::-webkit-scrollbar-track {
  @apply bg-transparent;
}
::-webkit-scrollbar-thumb {
  @apply rounded-sm bg-zinc-400;
}
a:focus-visible {
  @apply outline outline-2 outline-blue-500;
}

.scale-custom {
  @apply transition duration-[350ms] ease-[cubic-bezier(0.4,0,0.1,1)] active:scale-95;
  -webkit-user-drag: none;
}

/* font */
@font-face {
  font-weight: 400;
  font-style: normal;
  font-family: Poppins;
  font-display: swap;
  src: url(/font/poppins-regular.woff2);
}
@font-face {
  font-weight: 700;
  font-style: normal;
  font-family: Poppins;
  font-display: swap;
  src: url(/font/poppins-bold.woff2);
}

#markup {
  @apply text-xl leading-normal break-words;
}

#markup > * + * {
  @apply mt-0 mb-4;
}

#markup li + li {
  @apply mt-1;
}

#markup li > p + p {
  @apply mt-3;
}

#markup p {
  @apply text-base text-zinc-600;
}
#markup strong {
  @apply font-semibold;
}

#markup a {
  @apply text-blue-600 underline;
}

#markup strong a {
  @apply font-bold;
}

#markup h1 {
  @apply mt-3 mb-2 text-2xl leading-tight font-semibold;
}

#markup h2 {
  @apply mt-5 mb-2 text-xl leading-tight font-semibold;
}

#markup h3 {
  @apply mt-3 mb-2 text-lg leading-snug font-semibold;
}

#markup h4 {
  @apply mt-3 mb-2 text-base leading-none font-semibold;
}

#markup h5 {
  @apply mt-3 mb-2 text-sm leading-tight font-semibold;
}

#markup h6 {
  @apply mt-3 mb-2 text-sm leading-tight font-semibold text-gray-600;
}

#markup blockquote {
  @apply border-l-4 border-gray-300 pr-4 pl-4 text-base text-gray-600;
}

#markup code {
  @apply inline rounded-sm bg-gray-200 px-1 py-1 text-sm;
}

#markup pre {
  @apply rounded-sm bg-gray-100 p-4;
}

#markup pre code {
  @apply block overflow-visible rounded-none bg-transparent p-0;
}

#markup ul {
  @apply list-disc pl-8 text-base;
}

#markup ol {
  @apply list-decimal pl-8 text-base;
}

#markup kbd {
  @apply inline-block rounded-sm border px-1 py-1 align-middle font-mono text-xs font-normal shadow-sm;
}

#markup table {
  @apply border-gray-600 text-base;
}

#markup th {
  @apply border px-3 py-1;
}

#markup td {
  @apply border px-3 py-1;
}

/* Override pygments style background color. */
#markup .highlight pre {
  @apply bg-gray-100!;
}
