@tailwind base;
@tailwind components;
@tailwind utilities;

::-webkit-scrollbar {
  @apply h-2 w-2;
}
::-webkit-scrollbar-track {
  @apply bg-transparent;
}
::-webkit-scrollbar-thumb {
  @apply rounded bg-zinc-400;
}

.scale-custom {
  @apply transition duration-[350ms] ease-[cubic-bezier(0.4,0,0.1,1)] active:scale-95;
  -webkit-user-drag: none;
}

/* font */
@font-face {
  font-weight: 400;
  font-style: normal;
  font-family: Poppins;
  font-display: swap;
  src: url(/font/poppins-regular.woff2);
}
@font-face {
  font-weight: 700;
  font-style: normal;
  font-family: Poppins;
  font-display: swap;
  src: url(/font/poppins-bold.woff2);
}

.py-05 {
  /* Additional vertical padding used by kbd tag. */
  padding-top: 0.125rem;
  padding-bottom: 0.125rem;
}
#markup {
  @apply break-words text-xl leading-normal;
}

#markup > * + * {
  @apply mb-4 mt-0;
}

#markup li + li {
  @apply mt-1;
}

#markup li > p + p {
  @apply mt-3;
}

#markup p {
  @apply text-base text-zinc-600;
}
#markup strong {
  @apply font-semibold;
}

#markup a {
  @apply text-[#248216] underline;
}

#markup strong a {
  @apply font-bold;
}

#markup h1 {
  @apply mb-2 mt-3 text-2xl font-semibold leading-tight;
}

#markup h2 {
  @apply mb-2 mt-5 text-xl font-semibold leading-tight;
}

#markup h3 {
  @apply mb-2 mt-3 text-lg font-semibold leading-snug;
}

#markup h4 {
  @apply mb-2 mt-3 text-base font-semibold leading-none;
}

#markup h5 {
  @apply mb-2 mt-3 text-sm font-semibold leading-tight;
}

#markup h6 {
  @apply mb-2 mt-3 text-sm font-semibold leading-tight text-gray-600;
}

#markup blockquote {
  @apply border-l-4 border-gray-300 pl-4 pr-4 text-base text-gray-600;
}

#markup code {
  @apply py-05 inline rounded bg-gray-200 px-1 text-sm;
}

#markup pre {
  @apply rounded bg-gray-100 p-4;
}

#markup pre code {
  @apply block overflow-visible rounded-none bg-transparent p-0;
}

#markup ul {
  @apply list-disc pl-8 text-base;
}

#markup ol {
  @apply list-decimal pl-8 text-base;
}

#markup kbd {
  @apply py-05 inline-block rounded border px-1 align-middle font-mono text-xs font-normal shadow;
}

#markup table {
  @apply border-gray-600 text-base;
}

#markup th {
  @apply border px-3 py-1;
}

#markup td {
  @apply border px-3 py-1;
}

/* Override pygments style background color. */
#markup .highlight pre {
  @apply bg-gray-100 !important;
}
