---
import Layout from "../layouts/Layout.astro";
import Footer from "../components/Footer.astro";
import Link from "../components/Link.astro";
import RyuappLogo from "../components/icons/ryuapp.astro";

const title = "About";
const description =
  "I'm Ryu, a frontend developer. I like developing and open-source projects.";
---

<Layout title={title} description={description}>
  <div class="flex min-h-svh justify-center bg-zinc-900 text-white">
    <div class="flex max-w-lg flex-col items-center justify-center gap-4 py-2">
      <div class="mx-4 text-sm text-neutral-300">
        <div class="my-2">
          <RyuappLogo />
        </div>
        <p>
          I'm <span class="text-brand" transition:name="ryu">Ryu</span>, a <span
            transition:name="frontend-developer">frontend developer</span
          >.I like developing and open-source projects and contribute to the
          projects.
        </p>
        <p>
          Favorite Tech: <span class="text-[#358EF1]">TypeScript</span>, <span
            class="text-[#F7A41D]">Zig</span
          >, Deno, <span class="text-[#F48120]">Cloudflare</span>
        </p>
        <br />
        <p>Want to talk about something? Please look for me in the internet.</p>
      </div>
      <Link href="/" variant="dark">Home</Link>
      <Footer isDark={true} />
    </div>
  </div>
</Layout>
