---
import Layout from "../layouts/Layout.astro";
import Footer from "../components/Footer.astro";
import Link from "../components/Link.astro";
import RyuappLogo from "../components/icons/ryuapp.astro";

const title = "About";
const description =
  "I'm Ryu, a frontend developer. I like developing and contributing to open source projects.";
---

<Layout title={title} description={description}>
  <div class="flex min-h-svh justify-center bg-zinc-900 text-white">
    <div class="flex max-w-xl flex-col items-center justify-center gap-4 py-2">
      <div class="text-sm text-neutral-300">
        <div class="my-2">
          <RyuappLogo />
        </div>
        <p>
          I'm <span class="text-brand" transition:name="ryu">Ryu</span>, a <span
            transition:name="frontend-developer">frontend developer</span
          >.
        </p>
        <br />
        <p>I like developing and contributing to open-source projects.</p>
        <p>
          Recently, I often contribute to Deno and <span class="text-[#E36002]"
            >Hono</span
          > communities.
        </p>
        <br />
        <p>There are small contributions.</p><p>
          However, I belive that they can lead to a better future for the web.
        </p>
        <br />
        <p>
          My most used language is <span class="text-[#358EF1]">TypeScript</span
          > and my favorite runtime is Deno.
        </p>
        <p>Because they can be easily utilized in many situations,</p>
        <p>they increase productivity for my activities.</p>
      </div>
      <Link href="/" variant="dark">Home</Link>
      <Footer isDark={true} />
    </div>
  </div>
</Layout>
