---
import Layout from "../layouts/Layout.astro"
import Footer from "../components/Footer.astro"
import RyuappLogo from "../components/icons/ryuapp.astro"
import MenuLink from "../components/MenuLink.astro"
---

<Layout title="" description="Ryu is a frontend developer in Japan.">
  <div class="flex justify-center bg-zinc-900 text-white">
    <div class="flex h-screen max-w-lg flex-col items-center justify-center">
      <div class="mb-5 flex">
        <RyuappLogo />
      </div>
      <h1 class="mb-5 text-center text-2xl text-neutral-400">
        <span class="text-brand">Ryu</span> is a frontend developer in Japan.
      </h1>
      <nav class="flex flex-col justify-center gap-1">
        <MenuLink href="/dev" title="Development" />
        <MenuLink href="/privacy" title="Privacy Policy" />
        <MenuLink href="https://github.com/ryuapp" title="GitHub" />
      </nav>
      <Footer isDark={true} hiddenIcons={true} />
    </div>
  </div>
</Layout>
