---
import Layout from "../layouts/Layout.astro"
import Footer from "../components/Footer.astro"
import RyuappLogo from "../components/icons/ryuapp.astro"
import Link from "../components/Link.astro"

const description = "Ryu is a frontend developer in Japan."
---

<Layout description={description}>
  <div class="flex justify-center bg-zinc-900 text-white">
    <div class="my-16 flex max-w-lg flex-col items-center justify-center gap-5 tall:my-0 tall:h-screen">
      <div class="flex">
        <RyuappLogo />
      </div>
      <h1 class="text-center text-2xl text-neutral-400">
        <span class="text-brand">Ryu</span> is a frontend developer in Japan.
      </h1>
      <nav class="grid justify-items-start gap-1">
        <Link href="/projects" variant="menu">Projects</Link>
        <Link href="/privacy" variant="menu">Privacy Policy</Link>
        <Link href="https://github.com/ryuapp" variant="menu">GitHub</Link>
      </nav>
      <Footer isDark={true} hiddenIcons={true} />
    </div>
  </div>
</Layout>
