---
import Layout from "../layouts/Layout.astro";
import Footer from "../components/Footer.astro";
import RyuappLogo from "../components/icons/ryuapp.astro";
import MenuLink from "../components/MenuLink.astro";
---

<Layout title="" description="Ryu is a frontend developer in Japan.">
  <div class="flex justify-center text-white bg-zinc-900">
    <div class="max-w-lg items-center flex flex-col justify-center h-screen">
      <div class="mb-5 flex">
        <RyuappLogo />
      </div>
      <h1 class="mb-5 text-center text-2xl text-neutral-400">
        <span class="text-brand">Ryu</span> is a frontend developer in Japan.
      </h1>
      <nav class="gap-1 flex flex-col justify-center">
        <MenuLink href="/dev" title="Development" />
        <MenuLink href="/privacy" title="Privacy Policy" />
        <MenuLink href="https://github.com/ryuapp" title="GitHub" />
      </nav>
      <Footer isDark={true} hiddenIcons={true} />
    </div>
  </div>
</Layout>
