---
import '@fontsource/poppins/400.css';
import '@fontsource/poppins/700.css';
import "../styles/base.css"
import "../styles/embla.css"
import SwupScript from "../utils/swup.astro"
export interface Props {
  title: string | undefined
  description: string | undefined
}
const { title, description } = Astro.props
---

<meta charset="utf-8" />
<meta name="viewport" content="width=device-width, initial-scale=1" />
<link rel="icon" type="image/svg+xml" href="/favicon.svg" />
<title>{(title ? title + " | " : "") + "ryuapp"}</title>
<meta name="description" content={description} />
<meta http-equiv="Content-Security-Policy" content="img-src 'self'; object-src 'none'; frame-src 'none';" />
<SwupScript />
