---
export interface Props {
  title: string;
}
const { title } = Astro.props;
---

<nav class="flex text-gray-400">
  <a class="hover:text-white transition" href="/">Home</a>
  <p class="mx-1 select-none">/</p>
  <p class="">Dev</p>
  <p class="mx-1 select-none">/</p>
  <p>{title}</p>
</nav>
