---
import GitHubIcon from "../components/icons/GitHubIcon.astro";
---

<footer class="mt-10">
  <div class="flex justify-center">
    <GitHubIcon />
  </div>
  <p class="mx-auto max-w-sm py-5 text-center text-sm text-gray-400">
    © 2023 ryu.app
  </p>
</footer>
