---
import GitHubIcon from "../components/icons/GitHubIcon.astro"
interface Props {
  isDark?: boolean
  hiddenIcons?: boolean
}
const { isDark = false, hiddenIcons = false } = Astro.props
const copyrightColor = isDark ? "text-gray-400" : "text-gray-500"
---

<footer>
  {
    hiddenIcons ? (
      ""
    ) : (
      <div class="flex justify-center">
        <GitHubIcon isDark={isDark} />
      </div>
    )
  }
  <p class="mx-auto my-4 max-w-sm text-center text-sm" class:list={copyrightColor}>
    © 2024 <span translate="no">ryu.app</span>
  </p>
</footer>
