---
import GitHubIcon from "../components/icons/GitHubIcon.astro"
interface Props {
  isDark?: boolean
  hiddenIcons?: boolean
}
const { isDark = false, hiddenIcons = false } = Astro.props
---

<footer class="mt-5">
  {
    hiddenIcons ? (
      ""
    ) : (
      <div class="flex justify-center">
        <GitHubIcon />
      </div>
    )
  }
  <p
    class={isDark
      ? "mx-auto max-w-sm py-5 text-center text-sm text-gray-400"
      : "mx-auto max-w-sm py-5 text-center text-sm text-gray-500"}
  >
    © 2023 <span translate="no">ryu.app</span>
  </p>
</footer>
