---
interface Props {
  isDark?: boolean;
  hiddenIcons?: boolean;
}
const { isDark = false, hiddenIcons = false } = Astro.props;
const textColor = isDark ? "text-gray-400" : "text-gray-500";
---

<footer class="mx-auto my-2">
  <div class="mx-auto max-w-sm text-center text-sm" class:list={textColor}>
    <p class="flex justify-center space-x-1.5">
      <a href="https://github.com/ryuapp" class="hover:underline" title="GitHub">GitHub</a>
      <a href="/privacy" class="hover:underline" title="Privacy Policy">Privacy</a>
    </p>
  </div>
</footer>
