---
const frontmatter = Astro.props
---

<a
  href={frontmatter.href}
  class="scale-custom cursor-pointer rounded-md bg-transparent px-4 py-2 hover:bg-gray-100 active:bg-zinc-200"
>
  {frontmatter.name}
</a>
