---
const frontmatter = Astro.props
---

<a
  href={frontmatter.href}
  class="scale-custom mx-2 my-1 w-60 cursor-pointer rounded-md border border-solid border-gray-200 bg-transparent p-2 hover:bg-gray-100 active:bg-zinc-200"
>
  <dl>
    <dt class="text-lg">
      {frontmatter.title}
    </dt>
    <dd class="text-sm text-zinc-500">
      {frontmatter.description}
    </dd>
  </dl>
</a>
