---
interface Props {
  href: string
  variant?: "default" | "dark" | "menu"
}

const cssDefault = "hover:bg-gray-100 active:bg-zinc-200"
const cssDark = "hover:bg-zinc-800/50 active:bg-zinc-800"
const cssMenu =
  "cursor-default text-center text-lg hover:bg-zinc-800/50 hover:!text-brand active:bg-zinc-800 active:text-green-500"

const { href, variant = "default" } = Astro.props
const customCss = variant === "default" ? cssDefault : variant === "dark" ? cssDark : cssMenu
---

<a href={href} class="scale-custom cursor-pointer rounded-md bg-transparent px-4 py-2 text-sm" class:list={customCss}>
  <slot />
</a>
