---
import BaseHead from "../components/BaseHead.astro"
import { React } from "../utils/react"

export interface Props {
  title: string | undefined
  description: string | undefined
}
const { title, description } = Astro.props
---

<html lang="en">
  <head>
    <BaseHead title={title} description={description} />
  </head>
  <body class="bg-neutral-50 text-neutral-900" ontouchstart="">
    <main id="swup" class="transition-fade">
      <slot class="transition" />
    </main>
    <React client:only="react" />
  </body>
</html>
