---
import BaseHead from "../components/BaseHead.astro"
import { React } from "../utils/react.tsx"

export interface Props {
  title?: string
  description?: string
}
const { title, description } = Astro.props
---

<html lang="en">
  <head>
    <BaseHead title={title} description={description} />
  </head>
  <body class="bg-neutral-50 text-neutral-900" ontouchstart="">
    <main class="transition-fade">
      <slot class="transition" />
    </main>
    <React client:load />
  </body>
</html>
