---
import BaseHead from "../components/BaseHead.astro"
import Link from "../components/Link.astro"
import Footer from "../components/Footer.astro"
import Breadcrumbs, { type Breadcrumb } from "../components/Breadcrumbs.astro"
import Svelte from "../components/utils/Svelte.svelte"

type Frontmatter = {
  title: string
  description?: string
  breadcrumbs?: Array<Breadcrumb>
}
type Props = {
  frontmatter: Frontmatter
}

const { frontmatter } = Astro.props
const { title, description, breadcrumbs } = frontmatter
---

<html lang="en">
  <head>
    <BaseHead title={title} description={description} />
  </head>
  <body class="bg-neutral-50 text-neutral-900" ontouchstart="">
    <div id="main-content" class="transition-fade mx-auto max-w-5xl">
      <main class="p-5">
        <Breadcrumbs title={title} items={breadcrumbs} />
        <article id="markup">
          <slot />
        </article>
        <footer class="mt-5 flex justify-center">
          <Link href="/">Home</Link>
        </footer>
      </main>
      <Footer />
    </div>
    <Svelte client:load />
  </body>
</html>
