---
import BaseHead from "../components/BaseHead.astro";
import Footer from "../components/Footer.astro";
import Breadcrumbs, { type Breadcrumb } from "../components/Breadcrumbs.astro";

type Frontmatter = {
  title: string;
  description?: string;
};
type Props = {
  frontmatter: Frontmatter;
  breadcrumbs?: Array<Breadcrumb>;
};

const { frontmatter, breadcrumbs } = Astro.props;
const { title, description } = frontmatter;
---

<html lang="en">
  <head>
    <BaseHead title={title} description={description} />
  </head>
  <body class="bg-neutral-50 text-neutral-900" ontouchstart="">
    <div id="main-content" class="transition-fade mx-auto max-w-5xl">
      <main class="p-5">
        <Breadcrumbs title={title} items={breadcrumbs} />
        <article id="markup">
          <slot />
        </article>
      </main>
      <Footer />
    </div>
  </body>
</html>
