---
import Layout from "../../layouts/Layout.astro";
import Footer from "../../components/Footer.astro";
import LinkCard from "../../components/LinkCard.astro";
import LinkButton from "../../components/LinkButton.astro";
---

<Layout title="Development" description="My development list.">
  <div class="flex justify-center">
    <div class="max-w-lg items-center flex flex-col justify-center h-screen">
      <h1 class="mb-5 text-center text-3xl text-green-500 font-bold">
        Development
      </h1>
      <nav class="mb-5 gap-1 flex flex-col justify-center">
        <LinkCard
          href="/dev/fluent-emoji"
          title="Fluent Emoji Picker"
          description="Can copy Fluent Emoji easily"
        />
      </nav>
      <div class="mt-5 flex justify-center">
        <LinkButton href="/" name="Home" />
      </div>
      <Footer />
    </div>
  </div>
</Layout>
