---
import Layout from "../../layouts/Layout.astro"
import Footer from "../../components/Footer.astro"
import Link from "../../components/Link.astro"
import DevCarousel from "../../components/DevCarousel.svelte"
---

<Layout title="Development" description="My development list.">
  <div class="flex justify-center overflow-hidden">
    <div class="my-16 flex max-w-lg flex-col items-center justify-center tall:my-0 tall:h-screen">
      <h1 class="mb-5 text-center text-3xl">Development</h1>
      <nav class="mb-5 flex h-40 max-w-sm flex-col justify-center">
        <DevCarousel client:load />
      </nav>
      <div class="mt-5 flex justify-center">
        <Link href="/">Home</Link>
      </div>
      <Footer />
    </div>
  </div>
</Layout>
